%btn {
  font-size: 14px;
  font-weight: 900;
  display: inline-block;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  padding: 5px 15px;
}
.btn-primary {
  @extend %btn;
  color: $white;
  border: 1px solid $ui;
  background: linear-gradient(to bottom, $blue 0%, $blue-darker 100%);
  &:hover {
    background: linear-gradient(to bottom, $blue-lighter 0%, $blue 100%);
  }
  i {
    margin: 0 5px 0 0;
  }
}
button[disabled] {
  background:$ui-darkest;
  color:#ccc;
  cursor: not-allowed;
  &:hover {
    background:$ui-darker;
  }
}
