/*
 *  Modified from griddle
 *  https://github.com/necolas/griddle
 * ----------------------------------------- */


$grid-direction: left !default;
$grid-gutter   : 20px !default; // can be px, em, or %

.grid {
    display: block;
    padding: 0;
    text-align: $grid-direction;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
}

.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

.grid > .grid {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
}

.grid__cell,
[class*="unit-"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0 0.5 * $grid-gutter;
  vertical-align: top;
  text-align: $grid-direction;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

/*
 *    Grid modifiers
 */
.grid--center {
    text-align: center;
}

.grid--left {
    text-align: left;
}

.grid--right {
    text-align: right;
}

/*
 *    Cell modifiers
 */
.grid__cell--center {
    display: block;
    margin: 0 auto;
}

.grid__cell--left {
    display: block;
    margin-right: auto;
}

.grid__cell--right {
    display: block;
    margin-left: auto;
}

/*
 *    Create grid
 */

@include griddle-build(2 3 4 6 8 10 12);
