$white: #fff;

$ui: #383d46;
$ui-lightest: lighten(#464c58, 4%);
$ui-lighter: #464c58;
$ui-darker: #32373f;
$ui-darkest: darken(#32373f, 1%);

$blue: rgba(26,178,250,1);
$blue-lighter: lighten(rgba(26,178,250,1), 5%);
$blue-darker: darken(rgba(26,178,250,1), 15%);
